@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
/***************
variables
**************/
/***************
mixins
**************/
/***************
basic styles
**************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Pontano Sans", sans-serif;
  background: #333;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.4);
}

.container {
  width: 72%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

li {
  list-style: none;
}

/***************
nav
**************/
nav {
  background: rgba(243, 205, 82, 0.9);
  color: #000;
  font-size: 1.1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  padding: 30px 40px;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/***************
header
**************/
header {
  padding-top: 150px;
  background: #f3cd52;
}

header article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header article h1 {
  font-size: 3rem;
  color: #000;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 30px;
}

header article h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 30px;
  color: #333;
}

header article div {
  width: 100%;
  background: #fff;
  padding: 30px 30px 0;
}

header article div img {
  width: 100%;
  display: block;
  opacity: .9;
}

/***************
about
**************/
.about {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.about article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  text-align: center;
}

.about article h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.about article p {
  margin-bottom: 20px;
  font-weight: 600;
}

.about article button {
  border: none;
  background: #f3cd52;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.about article button:hover {
  background: #fff;
}

/***************
portfolio
**************/
.portfolio {
  padding: 60px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.portfolio h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 15px;
}

.portfolio h6 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 40px;
}

.portfolio div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio div article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  text-align: center;
}

.portfolio div article img {
  width: 100%;
}

.portfolio div article h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.portfolio div article p {
  margin-bottom: 20px;
  font-weight: 600;
}

.portfolio div article button {
  border: none;
  background: #f3cd52;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.portfolio div article button:hover {
  background: #fff;
}

/***************
contact
**************/
.contact {
  padding: 60px 0;
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 15px;
}

.contact h6 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 40px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

.contact form input {
  width: 100%;
  background-color: #2e2e2e;
  margin-bottom: 20px;
  padding: 20px;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
}

.contact form textarea {
  width: 100%;
  background-color: #2e2e2e;
  margin-bottom: 20px;
  padding: 20px;
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
}

.contact form button {
  border: none;
  background: #f3cd52;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.contact form button:hover {
  background: #fff;
}

/***************
footer
**************/
footer {
  padding: 60px 0;
}

footer h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 15px;
}

footer h6 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 40px;
}

footer .icons {
  text-align: center;
  padding-top: 30px;
}

footer .icons a {
  background: #f3cd52;
  padding: 25px;
  margin-right: 50px;
}

footer .icons i {
  color: #333;
  font-size: 1.3rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

footer hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  margin-top: 100px;
}

footer p {
  text-align: center;
  margin-top: 50px;
}

footer p a:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */