@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');

/***************
variables
**************/
$fontFamily: 'Pontano Sans', sans-serif;
$fontSize: 16px;
$yellow: #f3cd52;
$darkGray: #333;
$white: #fff;
$black: #000;
$lightGray: rgba(255, 255, 255, 0.4);
$transition: 0.4s ease;
$padding: 60px 0;

/***************
mixins
**************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    border: none;
    background: $yellow;
    text-transform: uppercase;
    padding: 20px 40px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background: $white;
    }
}
@mixin h3 {
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
@mixin p {
    margin-bottom: 20px;
    font-weight: 600;
}
@mixin h2 {
    text-align: center;
    font-size: 3rem;
    color: $white;
    margin-bottom: 15px;
}
@mixin h6 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 40px;
}

/***************
basic styles
**************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    font-family: $fontFamily;
    background: $darkGray;
    line-height: 1.7;
    color: $lightGray;
}
.container {
    width: 72%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}
li {
    list-style: none;
}

/***************
nav
**************/
nav {
    background: rgba($yellow, 0.9);
    color: $black;
    font-size: 1.1rem;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    ul {
        @include flex(center, center, row);
        li {
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: $transition;
            padding: 30px 40px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/***************
header
**************/
header {
    padding-top: 150px;
    background: $yellow;
    article {
        @include flex(center, center, column);
        h1 {
            font-size: 3rem;
            color: $black;
            line-height: 1;
            font-weight: 700;
            margin-bottom: 30px;
        }
        h5 {
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: 30px;
            color: $darkGray;
        }
        div {
            width: 100%;
            background: $white;
            padding: 30px 30px 0;
                img {
                    width: 100%;
                    display: block;
                    opacity: .9;
                }
        }
        
    }
}

/***************
about
**************/
.about {
    padding: $padding;
    @include flex(space-between, center, row);
    border-bottom: 1px solid $lightGray;
    article {
        flex: 0 0 31%;
        text-align: center;
        h3 {
            @include h3;
        }
        p {
            @include p;
        }
        button {
            @include btn;
        }
    }
}

/***************
portfolio
**************/
.portfolio {
    padding: $padding;
    border-bottom: 1px solid $lightGray;
    h2 {
        @include h2;
    }
    h6 {
        @include h6;
    }
    div {
        @include flex(space-around, center, row);
        article {
            flex: 0 0 22%;
            text-align: center;
            img {
                width: 100%;
            }
            h3 {
                @include h3;
            }
            p {
                @include p;
            }
            button {
                @include btn;
            }
        }
    }
}

/***************
contact
**************/
.contact {
    padding: $padding;
    h2 {
        @include h2;
    }
    h6 {
        @include h6;
    }
    form{
        @include flex(center, center, column);
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
        input {
            width: 100%;
            background-color: #2e2e2e;
            margin-bottom: 20px;
            padding: 20px;
            font-family: $fontFamily;
            font-size: 1.2rem;
            border: none;
            font-weight: 600;
        }
        textarea {
            width: 100%;
            background-color: #2e2e2e;
            margin-bottom: 20px;
            padding: 20px;
            font-family: $fontFamily;
            font-size: 1.2rem;
            border: none;
            font-weight: 600;
        }
        button {
            @include btn;
        }
    }
}

/***************
footer
**************/
footer {
    padding: $padding;
    h2 {
        @include h2;
    }
    h6 {
        @include h6;
    }
    .icons {
        text-align: center;
        padding-top: 30px;
        a {
            background: $yellow;
            padding: 25px;
            margin-right: 50px;
        }
        i {
            color: $darkGray;
            font-size: 1.3rem;
            transition: $transition;
        }
    }
    hr {
        border: none;
        height: 1px;
        background: $lightGray;
        margin-top: 100px;
    }
    p {
        text-align: center;
        margin-top: 50px;
        a {
            &:hover {
                color: $white;
            }
        }
    }
}